[submodule "submodules/demo-4"]
	path = submodules/demo-4
	url = git@github.com:ramonbld/demo-4.git
[submodule "submodules/demo-1"]
	path = submodules/demo-1
	url = git@github.com:ramonbld/demo-1.git
